$def with (form, title,msg)

$code:
	id_apmode="apmode"
        id_apmode_no_passwd="ap_no_password"
	id_ssid="ap_ssid"
	id_password="ap_password"
	id_channel="ap_channel"
	id_router_ssid="router_ssid"
	id_router_password="router_password"
	id_bonjour_name="service_name"
	id_ed_tcpport="tcpport"
	id_grid_enable="gridenable"
	id_grid_port="cangrid_port"
	id_logfile="logfile"
	id_loglevel="loglevel"
	id_logappend="logappend"
	id_canid="canid"
	id_turnout_file="turnout_file"
	id_fns_momentary="fn_momentary"
        id_create_logfile="create_log_file"
        id_start_event_id="start_event_id"
	id_btn_save="btnSave"
	id_btn_apply="btnApply"
	id_btn_restart="btnRestart"
        id_btn_stop="btnStop"
        id_btn_restart_all="btnRestartAll"
	id_btn_update_file="btnUpdateFile"
        id_btn_viewlog="btnViewlog"
        id_orphan_timeout="orphan_timeout"
        id_btn_shutdown="btnShutdown"
        id_shutdown_code="shutdown_code"
	id_edserver="edserver"

<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="1" />
<title>$title</title>
 <link rel="stylesheet" type="text/css" href="/static/main.css">
<link href="/static/bootstrap.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
           <img src="/static/merg_logo.png" />      
<div class="container-fluid">
           <header><h3>CANPiWi 1.7a Configuration<br/></h3></header>
           <header><h4>$msg<br/></h4></header>
  <div class="row-fluid">
           <form class="form" method="post"> 
              $:form[id_btn_shutdown].render()              
              <br><br>
              $:form[id_apmode].description : 
	      $:form[id_apmode].render()
	      <br><br>
              $:form[id_apmode_no_passwd].description : 
	      $:form[id_apmode_no_passwd].render()
	      <br><br>
              $:form[id_ssid].description : 
              $:form[id_ssid].render()
	      <br>
              $:form[id_password].description : 
              $:form[id_password].render()
	      <br>
              Wifi channel : 
              $:form[id_channel].render()
	      <br>
              $:form[id_router_ssid].description : 
              $:form[id_router_ssid].render()
	      <br>
              $:form[id_router_password].description : 
              $:form[id_router_password].render()
	      <br>
              $:form[id_bonjour_name].description : 
              $:form[id_bonjour_name].render()
	      <br>
              $:form[id_grid_enable].description : 
              $:form[id_grid_enable].render()
              <br><br>
              $:form[id_edserver].description : 
              $:form[id_edserver].render()
              <br>
              $:form[id_ed_tcpport].description : 
              $:form[id_ed_tcpport].render()
	      <br>
              $:form[id_grid_port].description : 
              $:form[id_grid_port].render()
	      <br>
              $:form[id_canid].description : 
              $:form[id_canid].render()
	      <br>
              $:form[id_start_event_id].description : 
              $:form[id_start_event_id].render()
              <br>
              $:form[id_orphan_timeout].description :
              $:form[id_orphan_timeout].render()
              <br>
              $:form[id_shutdown_code].description :
              $:form[id_shutdown_code].render()
	      <br>
              $:form[id_turnout_file].description : 
              $:form[id_turnout_file].render()
	      <br>
              $:form[id_fns_momentary].description : 
              $:form[id_fns_momentary].render()
	      <br>
              Log level : 
              $:form[id_loglevel].render()
              <br>
              $:form[id_create_logfile].description : 
	      $:form[id_create_logfile].render()
	      <br>
              $:form[id_logappend].description : 
	      $:form[id_logappend].render()
	      <hr>
              $:form[id_btn_save].render()
              <br><br>
	      $:form[id_btn_restart].render()
              <br><br>
	      $:form[id_btn_stop].render()
              <br><br>
	      $:form[id_btn_restart_all].render()
              <br><br>
	      $:form[id_btn_apply].render()
              <br><br>
	      $:form[id_btn_update_file].render()
              <br><br>
	      $:form[id_btn_viewlog].render()
              <hr>
           </form>
  </div>
</div>


</body>
</html>
